.place__title {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 5vw 0;
    padding: 0;
    align-self: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
        margin: 0 0 6.25vw 0;
        max-width: 43vw;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 1.06;
        margin: 0 0 4.69vw 0;
        max-width: 42.97vw;
    }
}

@media screen and (min-width: 1280px) {
    .place__title {
        margin: 0 0 3.75vw 0;
        max-width: 35.94vw;
    }
}