.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
    gap: 3.75vw;
    margin: 0 5vw 0;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 0 auto;
        gap: 2.08vw;
        max-width: 93.75vw;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .photo-grid {
        gap: 1.37vw;
        max-width: 90.625vw;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
        max-width: 1184px;
    }
}