.place__image {
    width: 100%;
    object-fit: contain;
    margin: 10vw 0;
}

@media screen and (min-width: 768px) {
    .place__image {
        grid-row: 2/4;
        grid-column: 1;
        margin: 0;
        /* max-width: 340px; */
        /* max-width: 44.27vw; */
        max-width: 43vw;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        /* max-width: 440px; */
        max-width: 42.97vw;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        /* max-width: 460px; */
        max-width: 35.94vw;
    }
}