.cover__subtitle {
    max-width: 90vw;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 288px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 425px) {
    .cover__subtitle {
        font-size: 16px;
        max-width: 314px;
    }
}

@media screen and (min-width: 768px)
{
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.22;
        max-width: 360px;
    }
}