.header {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    padding: 5vw 5vw 0;
}

@media screen and (min-width: 768px)
{
    .header {
        padding: 3.65vw 0 0;
        max-width: 93.75%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .header {
        padding: 2.73vw 0 0;
        max-width: 90.625%;
    }
}

@media screen and (min-width: 1280px)
{
    .header {
        padding: 2.19vw 0 0;
        max-width: 1184px;
    }
}
