.lead__title {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
    }
}