.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

@media screen and (min-width: 768px)
{
    .footer__links {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .footer__links {
    }
}

@media screen and (min-width: 1280px)
{
    .footer__links {
    }
}