.lead__image {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    align-self: center;
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .lead__image {
        max-width: 928px;
        margin: 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        max-width: 984px;
        margin: 0 148px;
    }
}