.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vw;
    margin: 0 5% 0;
    color: #fff;
}

@media screen and (min-width: 425px) {
    .intro {
        padding-top: 15vw;
    }
}

@media screen and (min-width: 768px){
    .intro {
        padding-top: 11.46vw;
        margin: 0 auto;
        max-width: 93.75vw;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .intro {
        padding-top: 8.98vw;
        max-width: 90.625vw;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding-top: 7.19vw;
        max-width: 76.875vw;
    }
}