.lead__subtitle {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 0;
    margin: 16px 0 40px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 32px 0 56px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 32px 0 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 32px 0 64px;
    }
}