.lead__subtitle {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    padding: 0;
    margin: 5vw 0 12.5vw;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 4.17vw 0 7.29vw;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 3.125vw 0 5.47vw;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 1.2;
        margin: 2.5vw 0 5vw;
    }
}