.cover {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    width: 100%;
    min-height: 62.5vw;
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 57.81vw;
        margin: 0 auto;
    }
}





