.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    padding: 0;
    color: #fff;
    transition: opacity 0.5s linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.place__link:hover {
    opacity: 0.8;
}