.lead__caption {
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: start;
    padding: 0;
    margin: 2.5vw 0 0 5vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .lead__caption {
        margin: 1.04vw 0 0 3.125vw;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .lead__caption {
        margin: 0.78vw 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead__caption {
        margin: 0.625vw 0 0 0;
    }
}