.cover__title {
    max-width: 90vw;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    /* margin: 0 0 5%; */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16.5%;
    left: 5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 425px) {
    .cover__title {
        max-width: 60vw;
        top: 23%;
        left: 20%;
    }
}

@media screen and (min-width: 768px)
{
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        /* margin: 0 0 4.17vw; */
        max-width: 72.92vw;
        top: 23.96%;
        left: 13.54%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .cover__title {
        /* margin: 0 0 3.125vw; */
        max-width: 54.69vw;
        top: 30.47%;
        left: 22.66%;
    }
}

@media screen and (min-width: 1280px)
{
    .cover__title {
        /* margin: 0 0 2.03vw; */
        max-width: 43.75vw;
        top: 33.11%;
        left: 26.35%;
    }
}