.cover__title {
    max-width: 90vw;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    max-width: 288px;
    margin: 10.31vw 0 5vw;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 425px) {
    .cover__title {
        font-size: 40px;
        margin: 13.31vw 0 3vw;
    }
}

@media screen and (min-width: 768px)
{
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        max-width: 560px;
        margin: 14.97vw 0 4.17vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    .cover__title {
        margin: 19.04vw 0 3.125vw;
    }
}

@media screen and (min-width: 1280px)
{
    .cover__title {
        margin: 20.69% 0 2.7%;
    }
}