.header__lang-links {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0 1.25vw;  */
}

/* @media screen and (min-width: 425px)
{
    .header__lang-links {
        padding: 0 0 1.41vw;
    }
}

@media screen and (min-width: 768px)
{
    .header__lang-links {
        padding: 0 0 0.78vw;
    }
}

@media screen and (min-width: 1024px)
{
    .header__lang-links {
        padding: 0 0 1.41vw;
    }
}

@media screen and (min-width: 1280px)
{
    .header__lang-links {
        padding: 0 0 0.47vw;
    }
} */

