.place__website {
    display: none;
}

@media screen and (min-width: 768px) {
    .place__website {
        display: inline;
        grid-row: 1;
        grid-column: 2;
        margin: 0 0 6.25vw 0;
        align-self: end;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        margin: 0 0 4.69vw 0;
    }
}

@media screen and (min-width: 1280px) {
    .place__website {
        margin: 0 0 10.435% 0;
    }
}